div#loader {
	background:url("themes/apple/img/loading.gif") no-repeat scroll 50% 50% #000000;
	bottom:0;
	display:none;
	height:100%;
	left:0;
	opacity:0.75;
	position:absolute;
	right:0;
	top:0;
	width:100%;
	z-index:99999;
}